body{
    background-color: rgb(4, 4, 30);
    margin: 0;
    padding: 0;
}

header{
    height: 100px;
    background-color: rgb(4, 4, 30);
}

.head{
    text-align: center;
}

header h1{
    color: white;
    display: inline-block;
    position: relative;
    bottom: 19px;
    left: 10px;

    font-size: 1.7em;;
}

.container{
    width: 1200px;
    height: 600px;
    border-radius: 15px;
    background-color: rgb(25, 25, 73);

    margin-left: auto;
    margin-right: auto;
}

.head-container{
    background-color: rgb(66, 66, 138);
    border-radius: 15px 15px 0 0;
    text-align: center;
}

.opcoes{
    float: right;
    position: relative;
    top: 25px;
    right: 50px;
}

.head-container p{
    display: inline;
    background-color: rgb(118, 118, 206);
    padding: 5px;
    border-radius: 5px;
    margin-right: 10px;
    font-size: small;
    color: white;
}

.head-container h3{
    display: inline-block;
    margin-left: 10px;
}

.head-container img{
    position: relative;
    top:15px;
}

.senhas{
    list-style: none;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}

.license{
    display: none;
}