body{
    background-color: rgb(4, 4, 30);
    margin: 0;
    padding: 0;
}

header{
    height: 100px;
    background-color: rgb(4, 4, 30);
}

.head{
    text-align: center;
}

header h1{
    color: white;
    display: inline-block;
    position: relative;
    bottom: 19px;
    left: 10px;

    font-size: 1.7em;;
    
}

.container{
    width: 297px;
    border-radius: 10px;
    background-color: rgb(16, 16, 50);
 
    margin: auto;
    margin-top: 6%;
    padding:10px 35px 25px 35px;
}

.titulo{
    color: white;
    text-align: center;
}

.but{
    padding: 10px;
    width: 297px;
    border-radius: 5px;
    border-color:rgb(16, 16, 50);

    color: white;
    font-weight: bold;
    font-size:medium;

    margin-bottom: 13px;
}

.but:hover{
    opacity: 0.7;
    cursor: pointer;
}

.but-NTC{
    background-color: rgb(17, 17, 110);
}

.but-FUC{
    background-color: rgb(172, 15, 59);
}

.but-Entrar{
    background-color: rgb(8, 214, 111);
}

.opcoes-1 {
    padding-bottom: 25px;
}

.letras{
    margin-left: 10%;
}

.numeros{
    margin-left: 25%;
}

/* .letrasEspec {
    margin-left: ;
} */

.labels {
    color: white;
    font-weight: bold;
}

.tamanhoSenha {
    width: 36px;
    margin-left: 18%;

}

.senhaGerada {
    text-align: center;
    font-weight: bold;
    font-size: medium;

    color: white;
    background-color: rgb(73, 70, 164);
    padding: 5px;
    border-radius: 5px;
}